:root {
    --nav: #000000;
    --background: #161616;
    --primarytext: #E0E0E0;
    --secondarytext: #B0B0B0;
    --border: #444444;
    --accent: #888888;
    --buttons: #a77d00;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    scrollbar-color: var(--border) transparent;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    color: var(--primarytext)
}

p,
a,
li {
    color: var(--secondarytext)
}

h1 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

ul {
    list-style: none;
}

header {
    background-color: var(--nav);
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 4em;
}

main {
    padding-top: 4em;
}

.bg-wrapper {
    width: 100%;
    background: linear-gradient(to bottom, #1a1a1a, transparent 5em);
    min-height: 100%;

}

.checked {
    color: var(--buttons);
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em
}

.logo-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primarytext);
    font-size: 1.2em;
    font-weight: bold;
}

.login-button {
    transition-duration: 0.25s;
    padding: 0.5em 1em;
    border: white 1px solid;
    border-radius: 10px;
    background: linear-gradient(to left, transparent 50%, #a77d00 50%) right;
    background-size: 200%;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--primarytext);
}

.login-button:hover {
    background-position: left;
    border-color: #a77d00;
    color: white
}

.login-button svg {
    position: relative;
    top: 12.5%;
}

.intro a {
    border: solid var(--buttons) 1px;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    border-radius: 20px;
    padding: 0.7em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
    font-weight: 700;
}

.offers h1,
.offers h3 {
    text-align: center;
}

/* Mobile style
@media screen and (min-width: 480px) { */
.padding {
    padding: 0 20px;
}


nav ul {
    display: none;
}

nav {
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-height: 100%;
    width: auto;
    padding: 5px 0;

}

.intro {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6em;
}

.intro h1 {
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.intro p {
    text-align: center;
    padding-bottom: 2em;
}

.intro img {
    filter: brightness(0.9);
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 6em;
    padding-bottom: 6em;
}

.offerItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    max-height: 42em;
    width: 100%;
    padding: 1em;
    overflow-x: scroll;
    scrollbar-color: var(--border) transparent;
}

.offerItems .offer {
    /* max-width: 20em;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 15px; */
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 17em;
    min-height: 20em;
}

.offer div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.offers .offer svg {
    width: auto;
    height: 2em;
    fill: var(--buttons);
}

.offers .offer a {
    border: var(--buttons) 1px solid;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    margin-top: 1em;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    text-align: center;
}

.offers h1 {
    font-size: 1.5em;
}

.aboutMe {
    padding-top: 4em;
}

.reviews {
    padding-top: 6em;
    padding-bottom: 6em;
}

.reviews h1 {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reviewsContainer {
    margin: 2em 0;
    padding: 2em 2em;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2em;
    width: 100%;
    scrollbar-color: var(--border) transparent;
}

.reviewsContainer div {
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 18em;
}

.reviewsContainer h3 {
    font-size: 1.2em;
}

.reviewsContainer .date {
    font-size: 0.8em;
}

.reviewsContainer a {
    border: var(--buttons) 1px solid;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    margin-top: 1em;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    text-align: center;
}

/* } */

/* Small tablet style */
@media screen and (min-width: 620px) {}

/* Large tablet and laptops */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
}

/* Desktop style */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}