:root {
    --nav: #000000;
    --background: #161616;
    --primarytext: #E0E0E0;
    --secondarytext: #B0B0B0;
    --border: #444444;
    --accent: #888888;
    --buttons: #a77d00;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    /* scrollbar-color: var(--border) transparent; */
}

body {
    background-color: var(--background);
    overflow-x: hidden;
    box-sizing: border-box;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    color: var(--primarytext)
}

p,
a,
li {
    color: var(--secondarytext)
}

h1 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

ul {
    list-style: none;
}

header {
    background-color: var(--nav);
    position: fixed;
    width: 100%;
    z-index: 999;
}

nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 4em;
}

main {
    padding-top: 4em;
}

.bg-wrapper {
    width: 100%;
    background: linear-gradient(to bottom, #1a1a1a, transparent 5em);
    min-height: 100%;

}

.navCorrection {
    padding-top: 3em;
}

.checked {
    color: var(--buttons);
}

.logo-container {
    display: flex;
    flex-direction: row;
    gap: 0.5em
}

.logo-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primarytext);
    font-size: 1.2em;
    font-weight: bold;
}

.login-button {
    transition-duration: 0.25s;
    padding: 0.5em 1em;
    border: white 1px solid;
    border-radius: 10px;
    background: linear-gradient(to left, transparent 50%, #a77d00 50%) right;
    background-size: 200%;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--primarytext);
}

.login-button:hover {
    background-position: left;
    border-color: #a77d00;
    color: white
}

.login-button svg {
    position: relative;
    top: 12.5%;
}

.intro a {
    border: solid var(--buttons) 1px;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    border-radius: 20px;
    padding: 0.7em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
    font-weight: 700;
}

.offers h1,
.offers h3 {
    text-align: center;
}

footer {
    background-color: var(--nav);
}

/* Mobile style
@media screen and (min-width: 480px) { */
.padding {
    padding: 0 20px;
}


nav ul {
    display: none;
}

nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav img {
    max-height: 100%;
    width: auto;
    padding: 5px 0;

}

#intro,
#offers,
#aboutMe,
#reviews {
    scroll-margin-top: 3em;
}

.login-button {
    display: none;
}

.login-button-mobile {
    color: var(--secondarytext);
    transition-duration: 0.25s;
    padding: 0.5em 1em;
    border: var(--secondarytext) 1px solid;
    border-radius: 10px;
    background: linear-gradient(to left, transparent 50%, #a77d00 50%) right;
    background-size: 200%;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: var(--primarytext);
    margin: 1em 0;
}

.login-button-mobile svg {
    position: relative;
    top: 12.5%;
}

.hamburger-menu {
    height: 80%;
    width: 40px;
    position: absolute;
    right: 1em;
}

.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--secondarytext);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
    z-index: 9;
}

.hamburger-menu span:nth-child(1) {
    top: 25%
}

.hamburger-menu span:nth-child(3) {
    top: 75%
}

.sideNav {
    background-color: var(--nav);
    position: fixed;
    width: 100%;
    z-index: 99;
    top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: top 0.2s ease-in-out;
    padding-bottom: 1.5em;
}

.sideNav ul {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.sideNav.active {
    top: 4em;
    opacity: 0.9;
}

.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.offerPopup.active {
    z-index: 999;
    background-color: var(--background);
}

.intro {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6em;
}

.intro h1 {
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

.intro p {
    text-align: center;
    padding-bottom: 2em;
    line-height: 1.2em;
}

.intro img {
    filter: brightness(0.9);
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 6em 1.5em;
}

.scroll {
    font-size: 0.8em;
    color: var(--secondarytext);
    display: inline-flex;
    gap: 5em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.scroll svg {
    height: 14px;
}


.offerItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    max-height: 42em;
    width: 100%;
    padding: 1em;

    /* scrollbar-color: var(--border) transparent; */
    /* scrollbar-arrow-color: white; */
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    >li {
        scroll-snap-align: center;
    }

}

.offerItems::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border: 1px solid var(--background);
    border-radius: 10px;

}

.offerItems::-webkit-scrollbar {
    color: transparent;
    height: 0.7em;
}


.offerItems::-webkit-scrollbar-track {
    margin-left: 1em;
    margin-right: 1em;
    background-color: transparent;
    border: var(--border) 2px solid;
    border-radius: 10px;
}

.offerItems li {
    /* max-width: 20em;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    border-radius: 15px; */
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-width: 17em; */
    min-width: 100%;
    max-width: 25em;
    min-height: 20em;
    flex: 1;

    /* width: clamp(17em 20em 25em); */
}

li div {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.offers li svg {
    width: auto;
    height: 2em;
    fill: var(--buttons);
}

.offers li button {
    border: var(--buttons) 1px solid;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    margin-top: 1em;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    text-align: center;
    background-color: transparent;
    color: var(--primarytext);
    font-size: inherit;
    font-family: inherit;
}

.offers h1 {
    font-size: 1.5em;
}

.offerPopup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    backdrop-filter: blur(15px);
    opacity: 0;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offerPopup.open {
    opacity: 1;
    z-index: 9999;

}

.popupContent {
    position: relative;
    padding: 1.5em;
    padding-top: 5em;
    background-color: var(--background);
    border-radius: 15px;
    margin: 2em;
    box-shadow: 2px 3px 5px #000000, 0px 1px 1px #333;
    height: 50em
}

.popupContent button {
    position: absolute;
    top: 0.1em;
    right: 1em;
}


.aboutMe {
    padding-top: 4em;
}

.reviews {
    padding: 6em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.reviews h1 {
    font-size: 1.5em;
    text-align: center;
}

.reviewsContainer {
    /* margin: 2em 0;
    padding: 2em 2em;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2em;
    width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    max-height: 42em;
    width: 100%;
    padding: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    >li {
        scroll-snap-align: center;
    }

}

.reviewsContainer::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border: 1px solid var(--background);
    border-radius: 10px;

}

.reviewsContainer::-webkit-scrollbar {
    color: transparent;
    height: 0.7em;
}


.reviewsContainer::-webkit-scrollbar-track {
    margin-left: 1em;
    margin-right: 1em;
    background-color: transparent;
    border: var(--border) 2px solid;
    border-radius: 10px;
}

.reviewsContainer li {
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    padding: 2em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 100%;
    max-width: 25em;
    min-height: 20em;
    flex: 1;
    gap: 1em;
}

.reviewsContainer h3 {
    font-size: 1.2em;
}

.reviewsContainer .date {
    font-size: 0.8em;
}

.reviewsContainer a {
    border: var(--buttons) 1px solid;
    border-radius: 15px;
    padding: 0.5em 1.5em;
    margin-top: 1em;
    box-shadow: inset 2px 3px 5px #000000, 0px 1px 1px #333;
    text-align: center;
}

footer {
    height: fit-content;
    font-size: 0.85rem;
    padding: 3em 2em 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

footer a {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    gap: 5px
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
    align-self: center;
    font-weight: bold;
    text-align: left;
}

footer .contact svg {
    fill: var(--buttons);
}

footer .CopyCred {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

footer .CopyCred svg {}

/* } */

/* Small tablet style */
@media screen and (min-width: 620px) {}

/* Large tablet and laptops */
@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
}

/* Desktop style */
@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}